{% extends "layout.html.twig" %}
{% block title %}
	Home
{% endblock %}
{%block content %}
	<div >

	<section id="featured">
	 
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="img/slides/1.jpg" alt="" />
                <div class="flex-caption">
                    <h3> MAINTELS - MASTER INNOVATION TELECOMS & SERVICES</h3> 
					<p>Un prestataire multitechniques offrant une large palette de compétences</p>  
                </div>
              </li>
              <li>
                <img src="img/slides/2.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Etudes et Ingénierie en Télécoms fixe et mobile</h3> 
					<p>Nous sommes ingénieurs/concepteurs, intégrateurs, mainteneurs et opérateurs de solutions multitechniques dans les domaines de l’énergie, de la mécanique et du numérique. Nous ne cessons de nous réinventer, promoteurs de la révolution numérique, des Objets Connectés, du Big Data, de la cybersécurité, de l’industrie 4.0, de l’Intelligence Artificielle et de la Réalité mixte.

</p> 
                </div>
              </li>
              <li>
                <img src="img/slides/3.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Multi-Services profesionel</h3> 
					<p>Gestion de projets et Prestation de services en courants faibles, Import/Export de produits lies à l activité.</p>  
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
 
	</section>
	<div class="content_white">
  <h2>Welcome to our Company MAINTELS !</h2>
  <p> 
  <br/><h4>MASTER INNOVATION TELECOMS & SERVICES</h4></p>
</div>
<div class="featured_content">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 feature_grid1"> <i class="fa fa-trophy fa-3x"></i>
        <h3><a href="#">Legimusinm</a></h3>
        <p>Lorem ipsum dolor sit amet, unde omnis iste natus error sit voluptatem accusanti quas potenti malesuada vel phasellus.</p>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1"> <i class="fa fa-picture-o fa-3x"></i>
        <h3><a href="#">Serspiciatis</a></h3>
        <p>Lorem ipsum dolor sit amet, unde omnis iste natus error sit voluptatem accusanti quas potenti malesuada vel phasellus.</p>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1"> <i class="fa fa-flask fa-3x"></i>
        <h3><a href="#">Quisqugesta</a></h3>
        <p>Lorem ipsum dolor sit amet, unde omnis iste natus error sit voluptatem accusanti quas potenti malesuada vel phasellus.</p>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1"> <i class="fa fa-user fa-3x"></i>
        <h3><a href="#">Architecto</a></h3>
        <p>Lorem ipsum dolor sit amet, unde omnis iste natus error sit voluptatem accusanti quas potenti malesuada vel phasellus.</p>
        <a href="#" class="feature_btn">More</a> </div>
    </div>
  </div>
</div>
 
	<section id="content">
	
	
	<div class="container">
		
	     <div class="row">
							<div class="col-md-8">
								<!-- Heading and para -->
								<div class="block-heading-two">
									<h3><span>Pourquoi nous choisir ?</span></h3>
								</div>
								<p>Une société en mouvement sur un marché qui évolue...
									Le marché des Réseaux et télécommunications est en constante évolution technologique. Les besoins et les attentes des consommateurs finaux en matière de service et de qualité accrus. L’éfficacité et la Qualité deviennent une priorité pour les FAI, acteurs majeurs de ce secteur.
									<br><br>Notre expérience et nos outils nous permettent de répondre à l’évolution des besoins dans ce secteur. 
									Nous somme Conscients de la complexité et de la sensibilité des domaines d’interventions.
									Nous assurons une solution qui intègre les critères d’exigence et du cahier des charges.
									</p>
																	<p>Nous développons une Collaboration étroite pour un résultat efficient et optimal. 
									Nous adoptons une approche flexible pour fournir des services opérationnels à tous niveaux.
									Nous sensibilisons chaque collaborateur par une culture de la rigueur et de la performance, 
									grâce à l’amélioration des processus,
									des formations et coaching. De ce fait nous apportons à nos clients une qualité de travail irréprochable, 
									une plus-value non négligeable et une satisfaction totale. </p>
							</div>
							<div class="col-md-4">
								<div class="block-heading-two">
									<h3><span>Our Solution</span></h3>
								</div>		
								<!-- Accordion starts -->
								<div class="panel-group" id="accordion-alt3">
								 <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
								  <div class="panel">	
									<!-- Panel heading -->
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
											<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 1
										  </a>
										</h4>
									 </div>
									 <div id="collapseOne-alt3" class="panel-collapse collapse">
										<!-- Panel body -->
										<div class="panel-body">
										  Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                           laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis 
                                           et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
											<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 2
										  </a>
										</h4>
									 </div>
									 <div id="collapseTwo-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										  Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
											<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 3
										  </a>
										</h4>
									 </div>
									 <div id="collapseThree-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										  Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
											<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 4
										  </a>
										</h4>
									 </div>
									 <div id="collapseFour-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										  Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										</div>
									 </div>
								  </div>
								</div>
								<!-- Accordion ends -->
								
							</div>
							
					
							
						</div>
	
	
	</div>
	
	</section>
	<div class="testimonial-area">
    <div class="testimonial-solid">
        <div class="container"> 
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class="">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class="active">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="3" class="">
                        <a href="#"></a>
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <p> I was angry with my friend:
                            <br>I told my wrath, my wrath did end.
                            <br>I was angry with my foe:
                            <br>I told it not, my wrath did grow.<br></p>
                        <p>
                            <b>- Pierre-yves REID -</b>
                        </p>
                    </div>
                    <div class="item">
                        <p> I was angry with my friend:
                            <br>I told my wrath, my wrath did end.
                            <br>I was angry with my foe:
                            <br>I told it not, my wrath did grow.<br></p>
                        <p>
                            <b>- Pierre-yves REID - -</b>
                        </p>
                    </div>
                    <div class="item active">
                       <p> I was angry with my friend:
                            <br>I told my wrath, my wrath did end.
                            <br>I was angry with my foe:
                            <br>I told it not, my wrath did grow.<br></p>
                        <p>
                            <b>- Pierre-yves REID -</b>
                        </p>
                    </div>
                    <div class="item">
                       <p> I was angry with my friend:
                            <br>I told my wrath, my wrath did end.
                            <br>I was angry with my foe:
                            <br>I told it not, my wrath did grow.<br></p>
                        <p>
                            <b>- Pierre-yves REID -</b>
                        </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
		<h3>Voici une sélection de nos derniers services:
        <p> 
                            <br>......
                            <br>......end.
                           
                        </p>
		</h3>
		
	{% endblock %}
